body {
  background-color: hsl(0, 0%, 8%);
  color: white;
  padding-top: 2.5cm;
}
div {
  background-color: hsl(0, 0%, 12%);
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
  text-align: center;
  width: 25%;
  height: 80%;
  margin: auto;
  padding: 30px 40px 30px 0px;
  border-radius: 10px;
}
img {
  border-radius: 50%;
  width: 80px;
}
.p2 {
  color: hsl(75, 94%, 57%);
}

ol {
  list-style-type: none;
}
li {
  background-color: hsl(0, 0%, 20%);
  margin: 10px;
  padding: 20px;
  border-radius: 10px;
}
@media screen and (max-width: 500px) {
  body {
    padding-top: 0.5cm;
  }
  div {
    width: 80%;
  }
}
